<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link"  href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agenda">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/beca/beneficios">Beneficios y Becas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contáctanos</a>
        </li>
        
                
        <!-- boton desplegable DATOS -->
		<li class="btn-group">
		  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		    Datos
		  </button>
		  <ul class="dropdown-menu">
		    <li><a class="dropdown-item" th:href="@{/docente/lista}">Docentes</a></li>
		    <li><a class="dropdown-item" th:href="@{/alumno}">Alumnos</a></li>
		    <li><hr class="dropdown-divider"></li>
		    <li><a class="dropdown-item" th:href="@{/beca/listado}" >Becas</a></li>
		    <li><a class="dropdown-item" th:href="@{/curso/lista}">Cursos</a></li>
		  </ul>
		</li>
        
        
        
      </ul>
    </div>
  </div>
</nav>
</body>
</html>