body {
  font-family: "Recursive", sans-serif;
}

.encabezado a{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	
	height: 2.5em;
	margin: 0.5em;
}

.encabezado a p{
	margin:0;
}
.text-curso{
	background: rgb(27, 34, 30,0.5);
	border-radius: 0.15em;
}
.lista-cursos{
	padding:0.5em;
	background-image: url("../imagenes/background.png");
	
}
.list-link{
	text-decoration: none;
	color:#24303c
}

form{
	border: 1px solid; width: 450px; padding: 10px; margin: 20px;
}
footer {
	padding:20px;
}


#form, #formBeca{
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #24303c;
	color: white;
	border-radius: 20px;
	font-size: 15px;
	font-family:'calibri';
	box-shadow: 7px 13px 37px #000;	
}


/* formulario Contacto */
#form{
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #24303c;
	color: white;
	border-radius: 20px;
	font-size: 15px;
	font-family:'calibri';
	box-shadow: 7px 13px 37px #000;	
	border: 2px solid #24303c;
	width: 100vh;
}
/* etiqueta casillas */
#form .form-label{
	padding-left: 5px;
}

/* input casillas */
#form .form-control{
	padding: 12px;
	border: solid 1px #0B0954 ;
	background-color: black;
	color: white;	
}

/* casilla de eleccion */
#form .form-select{
	padding: 12px;
	border: solid 1px #0B0954 ;
	background-color: black;
	color: white;
}

/* contenedor de formulario */
.container-sm-form{
	margin: auto;
	padding-top:3em;
	padding-bottom: 1em;
	width: 100%;
	height: 100%;
	background-image: url("../imagenes/background.png");
	background-size: 100%;
}

/* formulario de nuevo curso */
#form-c{
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #24303c;
	color: white;
	border-radius: 20px;
	font-size: 18px;
	font-family:monospace;
	box-shadow: 7px 13px 37px #000;	
	border: 2px solid #24303c;
	width: 100vh;
}


/* Zona de agenda.html */
#agendaCenter{
	padding:40px
}
#agendaCenter section{
	background: rgb(211,211,211,0.4);
	padding:10px
}
#agendaCenter section p{
	font-style: italic;
	font-weight:bold;
	font-size:large;
	color: white;
	font-family:Candara, Century Gothic,Lucida Calligraphy, Monotype Corsiva;
}

.listado{
	padding:20px;
	min-height: 60vh;
}