body {
  width: 1280px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Recursive", sans-serif;
}

header {
	 background:white;
	 margin:0;padding:10px;
	 display:inline-flex;
}
nav{
	 style="height: 60px;margin:0"
}
.logo {
	height: 2.5em;
	margin-right: 1em;
}
h1{
	style: margin-left: 30px;
}
h3 {
	style: padding: 10px;
}
 a {
	text-decoration: none;
	color: white;
	text-align: center;
    vertical-align:middle;
    padding: 14px 16px;
}

.box-video {
	background:aqua;display:flex;flex-direction:row;margin-left: 20px;
}
video{
	display:block;
	width: 60%;
}
.text-video {
	width: 40%;background:gray;display:block;padding: 10px;
}

form{
	border: 1px solid; width: 450px; padding: 10px; margin: 20px;
}
footer {
	background: black;
	color:white;
	margin:0;
	height: 60px;
	text-align: center;
	padding:20px;
}
ul {
	 background: black; font-family: Arial,white;width: 100%;height: 60px;line-height:60px;margin:0;
}
li {
	display:inline;
}


#form{
	padding: 30px;
	background-color: #24303c;
	color: white;
	border-radius: 20px;
	font-size: 15px;
	font-family:'calibri';
	box-shadow: 7px 13px 37px #000;	
}

#form .form-label{
	padding-left: 5px;
}

#form .form-control{
	padding: 12px;
	border: solid 1px #0B0954 ;
	background-color: black;
	color: white;	
}

#form .form-select{
	padding: 12px;
	border: solid 1px #0B0954 ;
	background-color: black;
	color: white;
}

.container-sm-form{
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 170px;
	background-image: url("../imagenes/background.png");
	background-size: 100%;
}


/* Zona de agenda.html */
#agendaCenter{
	padding:40px
}
#agendaCenter section{
	background: rgb(211,211,211,0.4);
	padding:10px
}
#agendaCenter section p{
	font-style: italic;
	font-weight:bold;
	font-size:large;
	color: white;
	font-family:Candara, Century Gothic,Lucida Calligraphy, Monotype Corsiva;
}
