<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8">
	<title>Agenda</title>
	<!--hoja de estilos-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<!--Bootstrap  -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body class="container">

	<header th:replace="layouts/header :: header"></header>
	
	<div class="container-sm-form" id="agendaCenter">
		<div id="agendaCenter" class="row justify-content-md-center">
			<video src="./videos/Homero estudiando.mp4" class="col-md-9 col-12" controls="controls">
			</video>
			<section class="col-md-3 col-12">
				<p>"La educación no es preparación para la vida, la educación es la vida misma". John Dewey.</p>
			</section>
		</div>
	</div>

	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>