<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Agenda</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

	<header th:replace="layouts/header :: header"></header>
	
	
	
	<div class="box-video">
		<video src="./videos/Homero estudiando.mp4" controls="controls">
		</video>
		<section class="text-video">
			<p>La educación no es preparación para la vida, la educación es la vida misma. John Dewey.</p>
		</section>
	</div >
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
	
</body>
</html>