<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Beneficios</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="container">
	<!-- header -->
	<header th:replace="layouts/header :: header"></header>
	
	<!-- nav -->
	
	
	<!-- section -->
	<section>
		<p> <strong>Página en construcción...</strong> </p>
	</section>
	
	<!-- footer -->
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>