<!DOCTYPE html>
<html lang='es'>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="layouts/header :: header"></header>
	
	<nav th:replace="layouts/nav :: nav"></nav>
	<section>
		<h2>Cursos con inscripción abierta</h2>
		<ol>
			<li><a href="#">Idiomas</a></li>
			<li><a href="/design">Diseño</a></li>
			<li><a href="#">Desarrollo</a></li>
			<li><a href="#">Marketing</a></li>
			<li><a href="#">Conferencias</a></li>
		</ol>
	</section>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>
